.source img{
    width: 100px;
    padding: 10px;
    margin: 0 50px;
}
.source{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}
.h1{
    text-align: center;
    margin-top: 50px;
    font-size: 4rem;
    font-family: 'Pacifico', cursive;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    max-width: 1000px;
    width: 90%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.email{
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(35, 35, 35, 0.484);
}
.email form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 1.5rem;
}
.email form input{
    max-width: 100%;
    padding: 5px;
    font-size: 1.8rem;
    margin-bottom: 8px;
    border-radius: 4px;
}
.email form textarea{
    max-width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 4px;
}
.email form div{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.email form .btn{
    width: 40%;
    
    border-radius: 5px;
}
.email form .btn:hover{
    box-shadow: 1px 1px 5px 1px rgba(35, 35, 35, 0.484);
    border: none;
}
.email form h1{
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin-bottom: 20px;
}
