@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@500&display=swap');


/* header of our website  */

*{
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
header{
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    max-width: 900px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
    padding: 5px 30px;
    transition: all 0.3s ease-in;
}
nav a:hover{
    background-color: rgba(255, 255, 255, 0.507);
    font-size: 2rem;
    border-radius: 5px;
}
.active{
    background-color: rgba(255, 255, 255, 0.507);
    font-size: 2rem;
    border-radius: 5px;
}
nav img{
    width: 100px;
    border-radius: 50%;
    margin: 10px 200px 10px 0;
    transition: all 0.2s ease-in;
}
nav img:hover{
    margin-right: 300px;
}
header .subcribe{
    background-color: red;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.5s ease-in;
}
.subcribe:hover{
    box-shadow: 4px 4px 10px 4px rgba(255, 42, 42, 0.556);
  }






/* footer of our website  */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #434343;
    color: white;
    font-size: 1.2rem;
    font-weight: 100;
}
footer img{
    width: 100px;
    border-radius: 50%;
    padding: 10px;
}